<!DOCTYPE html>
<html>
<head>
 <title>Hello World DApp</title>
 <link href='https://fonts.googleapis.com/css?family=Open Sans:400,700' rel='stylesheet' type='text/css'>
 <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
</head>
<body class="container">
 <h1>A Simple Hello World Voting Application</h1>
 <div class="table-responsive">
  <table class="table table-bordered">
   <thead>
    <tr>
     <th>Candidate</th>
     <th>Votes</th>
    </tr>
   </thead>
   <tbody>
    <tr>
     <td>Rama</td>
     <td id="RamaCnt"></td>
    </tr>
    <tr>
     <td>Nick</td>
     <td id="NickCnt"></td>
    </tr>
    <tr>
     <td>Jose</td>
     <td id="JoseCnt"></td>
    </tr>
   </tbody>
  </table>
 </div>
 <input type="text" id="candidate" />
 <button id="voteBtn" class="btn btn-primary">Vote</button>

 <script src="/javascripts/socket.io.js"></script>
 <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
</body>
<script>
  var socket = io('http://localhost:3000');
  $("#voteBtn").click(function(){
    var candidator = $("#candidate").val();
    if(candidator=="Rama" || candidator=="Nick" || candidator=="Jose"){
      socket.emit("index vote",candidator);
    }
    else{
      alert("없는 후보자 입니다.");
    }
  });

  socket.emit('index start');

  socket.on('index start res', candidateInfo => {
    Object.keys(candidateInfo).forEach(candidator => {
      $("#"+candidator+"Cnt").html(candidateInfo[candidator]);
    });
  });

  socket.on('index success vote',candidateInfo => {
    var candidator = candidateInfo.candidator;
    $("#"+candidator+"Cnt").html(candidateInfo.voteCnt);
  });
</script>
</html>